<footer class="container">
  <div class="bg-primary no-gutters-col  vh-10">
    <div class="row h-100 align-items-center">
      <div class="col-md-6 order-md-first order-last">
        <p class="lead mb-0 ml-5 text-light text-center text-md-left">© Copyright 2017</p>
      </div>
      <div class="col-md-6 order-md-last order-first d-flex justify-content-end">
        <div class="mr-md-4 d-flex justify-content-md-end justify-content-center w-100">
          <button class="btn btn-lg border-white btn-outline-primary bg-white mr-2 text-primary"><img class="mr-2"
              src="../img/save.svg" alt="save">Save</button>
          <button class="btn btn-lg border-white btn-outline-primary text-secondary"><img class="mr-2"
              src="../img/back.svg" alt="back">Back</button>
        </div>
      </div>
    </div>
  </div>
</footer>
<script src="js/main.min.js"></script>